// BASIC STYLES -----------------------------------------------------------------------------------
body {
    background-color: #f0f2f5;
}

// QUESTION LIST TABLE ----------------------------------------------------------------------------
.ant-table {
    table { 
        font-size: 16px;
    }
}

.ant-table-row td:first-child {
    font-size: 20px;
    font-weight: bold;
}

// DISPLAY A QUESTION PAGE ------------------------------------------------------------------------
.question-card {
    width: 60%;
    margin: 0 auto;

    & > .ant-card-head {
        font-size: 30px;
        font-weight: bold;
    }

    .question-message {
        font-size: 18px;
        margin: 24px 0;
    }

    .details {
        .ant-card {
            .ant-card-head {
                background-color: #585858;
                .ant-card-head-title {
                    font-weight: bold;
                    font-size: 16px;
                    color: #fff;
                }
            }

            .ant-card-body {
                font-size: 20px;
            }
        }
    }
}

// COMMENTS ---------------------------------------------------------------------------------------
.comment-section {
    width: 60%;
    margin: 0 auto;

    h2 {
        text-align: center;
        font-size: 30px;
    }

    .ant-list-header {
        font-size: 18px;
    }

    .ant-comment {
        span {
            font-size: 16px !important;
        }

        .ant-comment-content-detail {
            font-size: 18px !important;;
        }

        .ant-input {
            font-size: 16px;
        }
    }
}

// REGISTRATION -----------------------------------------------------------------------------------
.registration-form-card {
    width: 40%;
    margin: 0 auto;

    .ant-card-body {
        h1 {
            text-align: center;
            margin-bottom: 24px;
            font-size: 30px;
            font-weight: bold;
        }

        form {
            label {
                font-size: 18px;
            }

            .ant-input, .ant-input-number-input {
                font-size: 16px;
            }

            .ant-input-affix-wrapper {
                font-size: 20px;
            }
        }
    }
}

// LOGIN -----------------------------------------------------------------------------------
.login-form-card {
    width: 30%;
    margin: 0 auto;
    
    .ant-card-body {
        padding: 2% 5%;

        h1 {
            text-align: center;
            margin-bottom: 24px;
            font-size: 30px;
            font-weight: bold;
        }

        form {
            .ant-input-affix-wrapper {
                font-size: 30px;

                input {
                    font-size: 20px;
                }
            }
        }
    }
}

// ICON BAR -----------------------------------------------------------------------------------
.icon-bar {
    .anticon {
        margin-left: 5px;

        &.anticon {
            color: #777575;
        }

        &.anticon:hover {
            color: #000000;
        }

        &.anticon-delete {
            color: #b16868;
        }

        &.anticon-delete:hover {
            color: #b83535;
        }
    }
}

.question-icon-bar {
    font-size: 25px;
}

.comment-icon-bar {
    font-size: 16px;
}

// NEW QUESTION -----------------------------------------------------------------------------------
.new-question-card {
    width: 40%;
    margin: 0 auto;

    .ant-card-body {
        h1 {
            text-align: center;
            margin-bottom: 24px;
            font-size: 30px;
            font-weight: bold;
        }

        .ant-input {
            font-size: 16px;
        }
    }
}

// EDIT QUESTION -----------------------------------------------------------------------------------
.edit-question-card {
    margin-bottom: 24px;

    .ant-card-body {
        padding-bottom: 0;

        .ant-input {
            font-size: 16px;
        }
    }
}

// ETC -----------------------------------------------------------------------------------
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.like-link {
    cursor: pointer;
    color: #1890ff;
}